<!doctype html>
<html lang="en">
    <head>
        <!-- Extend the layout.html template -->
        {% extends "layout.html" %}
        {% block head %}
        {{ super() }}
        <!-- Set the title of the page -->
        <title>Clothes Donation</title>
        {% endblock %}
    </head>
    
    <body id="section_1">
        {% block myContent %}

        <main>
            <!-- Section for clothes donation form -->
            <section class="donate-section">
                <div class="section-overlay"></div>
                <div class="container">
                    <div class="row">

                        <!-- Form for clothes donation -->
                        <div class="col-lg-6 col-12 mx-auto">
                            <form class="custom-form donate-form" action="#" method="get" role="form">
                                <h3 class="mb-4">Make clothes donation</h3>
        
                                <div class="row">
                                    <div class="col-lg-12 col-12">
                                        <h5 class="mb-3">Delivery options</h5>
                                    </div>
        
                                    <div class="col-lg-6 col-6 form-check-group form-check-group-donation-frequency">
                                        <div class="form-check form-check-radio">
                                            <input class="form-check-input" type="radio" name="DonationFrequency" id="DonationFrequencyOne" checked>
                                            
                                            <label class="form-check-label" for="DonationFrequencyOne">
                                                Drop off
                                            </label>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-6 col-6 form-check-group form-check-group-donation-frequency">
                                        <div class="form-check form-check-radio">
                                            <input class="form-check-input" type="radio" name="DonationFrequency" id="DonationFrequencyMonthly">
                                            
                                            <label class="form-check-label" for="DonationFrequencyMonthly">
                                                Delivery
                                            </label>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-12 col-12">
                                        <h5 class="mt-2 mb-3">Amount of bags</h5>
                                    </div>
        
                                    <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                1
                                            </label>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                2
                                            </label>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                            <label class="form-check-label" for="flexRadioDefault3">
                                                3
                                            </label>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-3 col-md-6 col-6 form-check-group">
                                        <div class="form-check form-check-radio">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                            <label class="form-check-label" for="flexRadioDefault4">
                                                4
                                            </label>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-6 col-12 form-check-group">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">?</span>
                                            
                                            <input type="text" class="form-control" placeholder="Custom amount" aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>

                                    
                                    <div class="col-lg-12 col-12">
                                        <h5 class="mt-2 mb-3">Clothes Description </h5>
                                        <textarea name="volunteer-message" rows="3" class="form-control" id="volunteer-message" placeholder="Comment (Optional)"></textarea>
                                    </div>
        
                                    <div class="col-lg-12 col-12">
                                        <h5 class="mt-2 mb-3">Personal Info</h5>
                                    </div>
        
                                    <div class="col-lg-6 col-12 mt-2">
                                        <input type="text" name="donation-name" id="donation-name" class="form-control" placeholder="Full Name" required>
                                    </div>
        
                                    <div class="col-lg-6 col-12 mt-2">
                                        <input type="email" name="donation-email" id="donation-email" pattern="[^ @]@[^ @]" class="form-control" placeholder="Email" required>
                                    </div>

                                    <div class="col-lg-6 col-12 mt-2">
                                        <input type="text" name="donation-number" id="donation-number" class="form-control" placeholder="Phone number" required>
                                    </div>

                                    <div class="col-lg-6 col-12 mt-2">
                                        <input type="text" name="donation-location" id="donation-location" class="form-control" placeholder="Location" required>
                                    </div>
        
                                        <!-- Submit button for the donation form -->
                                        <button type="submit" class="form-control mt-4">Submit Donation</button>
                                    </div>
                                </div>
                            </form>
                        </div>
        
                    </div>
                </div>
            </section>
        </main>
        {% endblock myContent %}     

    </body>
</html>
