/*------------------
  CUSTOM PROPERTIES          
--------------------*/
body {
  background-color: #ffffff;
  font-family: 'Metropolis', sans-serif; 
}

h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -1px;
}

h1 {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -2px;
}

h2 {
  color: #5a6f80;
  font-size: 46px;
  letter-spacing: -2px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  color: #C0EEF2;
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

p {
  color: #717275;
  font-size: 16px;
  font-weight: 300;
}

ul li {
  color:#717275;
  font-size: 16px;
  font-weight: 400;
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: #717275;
  text-decoration: none;
}

a:hover {
  color: #C0EEF2;
}

b,
strong {
  font-weight: 700;
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: #f0f8ff;
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  background: #ffffff;
  z-index: 9;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar-brand {
  color: #5a6f80;
  font-size: 22px;
  font-weight: 700;
}

.navbar-brand:hover{
  color: #C0EEF2;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
}

.navbar-nav .nav-link {
  color: #717275;
  font-size: 16px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: #C0EEF2;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/*---------------------------------------
  DONATE BUTTON               
-----------------------------------------*/
.custom-btn {
  border: 2px solid transparent;
  border-radius: 100px;
  padding: 15px 25px;
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn {
  margin-top: 8px;
  padding: 12px 25px;
}

.custom-btn:hover {
  background: #C0EEF2;
}

.custom-border-btn {
  background: transparent;
  border: 2px solid #597081;
  color: #C0EEF2;
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: #C0EEF2;
  border-color: transparent;
  color: #5a6f80;
}


/*---------------------------------------
  HERO & HERO SLIDE         
-----------------------------------------*/
.carousel:hover .carousel-control-next-icon, 
.carousel:hover .carousel-control-prev-icon {
  opacity: 1;
}

#hero-slide .carousel-item {
  height: 680px;
  min-height: 680px;
}

#hero-slide .carousel-caption {
  background: #ffffff;
  clip-path: polygon(100% 100%, 100% 150px, 0 100%);
  color: #5a6f80;
  top: 1px;
  bottom: -1px;
  right: 0;
  left: auto;
  text-align: right;
  min-width: 680px;
  min-height: 680px;
  padding: 100px 100px 50px 100px;
}

.carousel-image {
  display: block;
  width: 100%;
  min-height: 680px;
}

.carousel-control-next, 
.carousel-control-prev {
  opacity: 1;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
  background-color: #5a6f80;
  border-radius: 100px;
  background-size: 60% 60%;
  width: 80px;
  height: 80px;

  transition: all 0.5s;
}

.carousel-control-next-icon:hover, 
.carousel-control-prev-icon:hover {
  background-color: #C0EEF2;
}


/*---------------------------------------
  FEATURE BLOCK              
-----------------------------------------*/
.featured-block:hover {
  border-radius: 20px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.featured-block:hover .featured-block-image {
  transform: scale(0.75);
}

.featured-block-image {
  display: block;
  margin: auto;
  transition: all 0.5s;
}

.featured-block:hover .featured-block-text {
  margin-top: 0;
}

.featured-block-text {
  color: #C0EEF2;
  font-size:  24px;
  margin-top: 20px;
  transition: all 0.5s;
}


/*---------------------------------------
  STORY              
-----------------------------------------*/
.about-image {
  border-radius: 20px;
  display: block;
  width: 350px;
  height: 400px;
  object-fit: cover;
}

.custom-text-block {
  padding: 60px 40px;
}

.custom-text-box {
  background: #ffffff;
  border-radius: 20px;
  margin-bottom: 24px;
  padding: 40px;
}

.custom-text-box-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control,
.input-group-file {
  background-color: #f0f8ff;
  border: 0;
  color: #717275;
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
}

.custom-form .form-check-group {
  margin-bottom: 20px;
}

.donate-form .form-check-group-donation-frequency {
  padding-right: 0;
}

.form-check-group-donation-frequency + .form-check-group-donation-frequency {
  padding-right: 12px;
  padding-left: 0;
}

.custom-form .form-check-radio {
  position: relative;
  height: 100%;
  padding-left: 0;
}

.custom-form .input-group-text {
  background: #5a6f80;
  border: 0;
  color: #ffffff;
}

.custom-form .form-check-radio .form-check-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-check-radio .form-check-input[type=radio] {
  background-color: #f0f8ff;
  border-radius: .25rem;
  border: 0;
  box-shadow: none;
  outline: none;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  padding: 25px 50px;
  transition: all 0.5s;
}

.form-check-radio .form-check-input:checked[type=radio] {
  background-image: none;
}

.form-check-radio .form-check-input:checked[type=radio] + .form-check-label,
.form-check-radio .form-check-input:hover + .form-check-label,
.form-check-radio .form-check-input:checked + .form-check-label {
  color: #ffffff;
}

.form-check-radio .form-check-input:hover,
.form-check-radio .form-check-input:checked {
  background-color: #5a6f80;
  border-color: #ffffff;
}


/*---------------------------------------
  VOLUNTEER              
-----------------------------------------*/
.volunteer-section {
  background: #5a6f80;
  position: relative;
  overflow: hidden;
}

.volunteer-form {
  background: #ffffff;
  border-radius: 20px;
  padding: 50px;
}

.volunteer-image {
  border-radius: 100%;
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.volunteer-section .custom-block-body {
  max-width: 440px;
  margin: 0 auto;
} 

.input-group-file {
  border-radius: .25rem;
  padding: 13px .75rem;
}

.input-group-file input[type=file] {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  padding: 0;
}

.input-group-file .input-group-text {
  background: transparent;
  color: inherit;
  padding: 0;
}
 

/*---------------------------------------
  DONATE              
-----------------------------------------*/
.donate-section {
  background-image: url("https://fakeimg.pl/200x100/?retina=1&text=DONATE&font=noto");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.donate-form {
  background: #ffffff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 50px;
}

.donate-form .form-control {
  margin-bottom: 0;
}


/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.contact-section {
  background: #ffffff;
}

.contact-form {
  background: #f0f8ff;
  border-radius: 10px;
  padding: 40px;
}

.custom-form button[type="submit"] {
  background: #597081;
  border-radius: 100px;
  color: #ffffff;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: #C0EEF2;
}

.contact-form .form-control {
  background: #ffffff;
}


/*----------------------
  SITE FOOTER              
-----------------------*/
.site-footer-bottom {
  background-color: #5a6f80;
  position: relative;
  z-index: 2;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.site-footer-bottom a {
	color: #ffffff;
}

.social-icon {
  margin: 0;
  padding: 0;
}
